:root {
  --background-color: #7393b3;
  --light-square: #e6e6e6;
  --light-square-hover: #ccc;
  --light-square-highlighted: #6dc37a;
  --dark-square: #7373b3;
  --dark-square-hover: #8a8ac2;
  --dark-square-highlighted: #19b39b;
}

html,
body {
  background-color: var(--background-color);
  margin: 0;
}

button {
  border-radius: 8px;
  border: none;
  padding: 6px;
  cursor: pointer;
  background-color: var(--light-square);
  color: var(--dark-square);
}
button:hover {
  background-color: var(--light-square-hover);
  color: var(--dark-square-hover);
}

#app {
  display: flex;
  height: 100vh;
  overflow: auto;
}

@media (max-width: 768px) {
  #app {
    flex-direction: column;
    gap: unset;
    min-height: 400px; /* anything small than this is too squished to use, we will just add scroll */
  }
}
