html,
body {
  color: black;
  background-color: #7393b3;
  margin: 0;
}

#app {
  display: flex;
  height: 100vh;
}

@media (max-width: 768px) {
  #app {
    flex-direction: column;
    gap: unset;
  }
}
