@import url('https://fonts.googleapis.com/css2family=Poppins');

:root {
  --background-color: #7393b3;
  --light-square: #e6e6e6;
  --light-square-hover: #ccc;
  --light-square-highlighted: #8bc1da;
  --dark-square: #7373b3;
  --dark-square-hover: #8a8ac2;
  --dark-square-highlighted: #2e2aac;
}

html,
body {
  background-color: var(--background-color);
  margin: 0;
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

select {
  border-radius: 8px;
  background-color: var(--light-square);
  color: #333;
  padding: 6px;
  cursor: pointer;
}

button {
  border-radius: 8px;
  border: none;
  padding: 6px;
  cursor: pointer;
  background-color: var(--light-square);
  color: #333;
}
button:hover {
  background-color: var(--light-square-hover);
  color: var(--dark-square-hover);
}

#app {
  display: flex;
  height: 100dvh;
  overflow: auto;
}

@media (max-width: 768px) {
  #app {
    flex-direction: column;
    gap: unset;
    min-height: 400px; /* anything small than this is too squished to use, we will just add scroll */
  }
}
